/* body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* .center-container {
    text-align: center;
} */
/* 
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}  */


body{
    background-color: black;
    color : white;
}

.center-container {
    background-color: #f2f2f2;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color :black;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}
  
button {
    background-color: #4caf50;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin : 5px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}